@model UniqueDrinks.Models.Reservas

@{
    ViewData["Title"] = "Delete";
}



<h3>Tem a certeza que pretende eliminar esta bebida da sua reserva?</h3>
<div>
    <h4>Reservas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListaReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListaReserva.LRId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bebida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bebida.Categoria)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReservaID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar à lista</a>
    </form>
</div>
