@model IEnumerable<UniqueDrinks.Models.Reservas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListaReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bebida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListaReserva.LRId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bebida.Categoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReservaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReservaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReservaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
